<div class="mainDiv">
    <div class="header">
        <app-nav-bar></app-nav-bar>
    </div>
    <div class="mainContent">
      <div class="itemsDiv" *ngFor="let product of this.common.productDetail; let i = index">
        <mat-card class="card">
          <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-subtitle>{{product.brandName}}</mat-card-subtitle>
          </mat-card-header>
            {{product.marketValue}}
          <mat-card-content>
            <p>
              Description: {{product.description}}  ||
              Total Bids: {{product.bids}}  ||
              Last Bid Date: {{product.lastBidDate}}
            </p>
          </mat-card-content>
          <button class="first">BID</button>
        </mat-card>
      </div>
      <div class="hotItems">
      </div>
    </div>
</div>