.card {
    background-color: bisque;
    width: 20rem;
    height: 18rem;
    margin: 10px;
}
.mainContent {
    display: flex;
    margin: 20px;
}
.itemsDiv {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
}
.hotItems {
    background-color: rgb(87, 42, 26);
    width: 20vw;
}

::ng-deep .mat-card-header {
    justify-content: center;
}

.first {
    padding: 6px 40px;
    outline: none;
    background-color: darksalmon;
    border: none;
    border-radius: 5px;
    box-shadow: 0 6px rgb(87, 42, 26);
}

.first:hover{
    background-color: #db724f;
}
.first:active {
    background-color: #db724f;
    box-shadow: 0 5px rgb(87, 42, 26);
    transform: translateY(4px);
}